@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.DAL
@using Capstone.Web.Models
@{
    string connectionString = @"Data Source = localhost\sqlexpress; Initial Catalog = NationalParkGeek; Integrated Security = True";
    WeatherSqlDAL dal = new WeatherSqlDAL(connectionString);
    List<Weather> weather = dal.GetWeather(ViewBag.weather);
}
@model Parks



<section>
    <div style="margin: 0 auto; text-align: center;"><img src="~/Content/img/parks/@(Model.ParkCode).jpg" style="width: 85%; height: 500px;" /></div>
    <br />

    <section style="background-color: gray; width: 50%; margin-left: 85px;  ">
        <p style="color: darkred;">@Model.Name</p>
        <p style="color: darkred;">@Model.State</p>
    </section>
    <br />
    <section style="background-color: forestgreen; width: 90%; margin-left: 85px;">
        <table>
            <tr>
                <th style="font-weight: bold; text-align: left;">Acreage:</th>
                <td>@Model.Acres</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Elevation:</th>
                <td>@Model.Elevation</td>
            </tr>
            <tr></tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Miles of Trail:</th>
                <td>@Model.TrailMiles</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Number of Campsites:</th>
                <td>@Model.NumCampSites</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Climate:</th>
                <td>@Model.Climate</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Year Founded</th>
                <td>@Model.YearFounded</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Annual Visitors:</th>
                <td>@Model.AnnualVisitors</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Description:</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Entry Fee:</th>
                <td>@Model.EntryFee</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Number of Animal Species</th>
                <td>@Model.AnimalSpecies</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">Our Quote:</th>
                <td>@Model.Quote</td>
            </tr>
            <tr>
                <th style="font-weight: bold; text-align: left;">-Author:</th>
                <td>@Model.QuoteAuthor</td>
            </tr>
        </table>
    </section>
    <section>
    <div style="display: inline;">
       <h2>Today</h2>
        @if (@weather[0].Forecast == "partly cloudy")
        {
            <img src="~/Content/img/weather/partlyCloudy.png" />
        }
        else
        {
             <img src="~/Content/img/weather/@(weather[0].Forecast).png"/>
        }
        <p>High @weather[0].HighTemp Low @weather[0].LowTemp</p>
        @if(@weather[0].Forecast == "snow")
        {
            <p>Make sure you pack snow shoes!</p>
        }
        else if(weather[0].Forecast == "rain")
        {
            <p>Make sure you pack your rain gear and waterproof shoes!</p>
        }
        else if(weather[0].Forecast == "thunderstorms")
        {
            <p>Seek shelter and avoid hiking on exposed ridges!</p>
        }
        else if(weather[0].Forecast == "sunny")
        {
            <p>Remember to pack sunblock!</p>
        }
        @if (@weather[0].HighTemp > 75)
        {
            <p>Please bring an extra gallon of water!</p>
        }
        else if((@weather[0].HighTemp - @weather[0].LowTemp) > 20)
        {
            <p>Please wear breathable layers. </p>
        }
        else if(@weather[0].LowTemp < 20)
        {
            <p>Warning: Exposure to fridged temperatures can be dangerous!</p>
        }
    </div>
    <div style="display: inline-flex;">
        <table class="weatherTable">
            <tr>
                @for(int i = 1; i<weather.Count; i++)
                {
                    if (@weather[i].Forecast == "partly cloudy")
                    {
                        <td><img src="~/Content/img/weather/partlyCloudy.png" style="width: 50%;"/></td>
                    }
                    else
                    {
                        <td><img src="~/Content/img/weather/@(weather[i].Forecast).png" style="width: 50%;" /></td>
                    }
                }
           </tr>
            <tr>
                @for (int i = 1; i < weather.Count; i++)
                {
                    <td>High @weather[i].HighTemp</td>
                }
            </tr>
            <tr>
                @for (int i = 1; i < weather.Count; i++)
                {
                    <td>Low @weather[i].LowTemp</td>
                }
            </tr>
        </table>
    </div>
    </section>
</section>

