@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model List<Parks>


<section>
    @foreach (Parks allParks in Model)
    {
        <div style="display: inline-flex;"><a href="@Url.Action("Detail","Home", new { id = allParks.ParkCode.ToString() })"><img src="~/Content/img/parks/@(allParks.ParkCode).jpg" style="display:inline-flex;
            padding-left: 10px; padding-bottom: 20px;" /></a> </div>
        <div style="display: inline-flex; width: 50%; text-align: left; vertical-align:top;">
            <ul style="list-style:none; width: 75%;">
                <li style="font-weight: bold; font-size: 18px;"><a href="@Url.Action("Detail","Home", new { id = allParks.ParkCode.ToString() })">@allParks.Name</a></li>
                <li style="font-size: 18px;">@allParks.State</li>
                <br />
                <li style="font-size: 18px;">@allParks.Description</li>
            </ul>
        </div>
    }
</section>

