
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet.css">
    <title>@ViewBag.Title</title>
    <link rel="StyleSheet" href="~/Content/StyleSheet.css">
</head>
<body>
    <div style="background-color: lightgrey; width: 100%; position: fixed; clear: both;">
        <header>
                <img src="~/Content/img/logo.png" alt="National Park Geek logo"/>     
        </header>
            <nav>
                <ul style="list-style: none; justify-content: flex-start; display: flex;">
                    <li style="padding-right: 10px;">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Survey", "Survey", "Home")</li>
                    <li style="padding-left: 10px;">@Html.ActionLink("Preferences", "Preferences", "Home")</li>
                </ul>
            </nav>
    </div>
    <div class="spacer">
        &nbsp;
    </div>
    <div>
        @RenderBody()
    </div>
    <footer style="vertical-align: bottom;">
        National Park Geek | Varying Locations | by Corey and Josh
    </footer>
</body>

</html>
