@{
    ViewBag.Title = "Gift Shop Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SSGeek.DAL;
@using SSGeek.Models;
@model SSGeek.Models.Product



<h2 style="text-align: center; font-weight: bold; margin: 0 auto; padding-bottom: 20px;">Solar System Geek Gift Shop</h2>
<div style="list-style:none; text-align:left; padding-bottom: 30px; padding-top: 25px; background-color: white; ">

    <p style="float: left;"><img src="~/Content/img/@(Model.ImageName)" style="width: 150px;" /></p>
    <p style="padding-left: 120px; font-weight: bold; font-size: 16px;">@Model.Name</p>
    <p style="padding-left: 120px; font-size: 14px; color:deepskyblue">$@Model.Price</p>
    <p style="padding-left: 120px; font-size: 12px;">@Model.Description</p>
    <p style="padding-bottom: 40px;"></p>

    @using (Html.BeginForm("ShoppingCart", "Home", FormMethod.Post))
    {

        <div class="qtyDiv">
            @Html.Label("QTY", "Quantity to Buy")
            @Html.TextBoxFor(m => m.Quantity)
            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.Description)
            @Html.HiddenFor(m => m.Price)
            @Html.HiddenFor(m => m.ImageName)
            <button class="qty">Add to Cart!</button>
        </div>


    }
</div>
@*@using (Html.BeginForm("ShoppingCart", "Home", new { id = Model.ProductId, QTY = Model.Quantity }, FormMethod.Post))*@